manifold_planning/__pycache__/
manifold_planning/.vscode/
manifold_planning/build/
manifold_planning/external/
manifold_planning/new/
infeasibility_proof.cpython-310-x86_64-linux-gnu.so
CMakeLists1.txt
CMakeLists2.txt