<?xml version="1.0"?>
<robot name="SCARA" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- Base link -->
  <link name="base_link">
    <visual>
      <origin xyz="0 0 0.55" rpy="0 0 0"/>
      <geometry>
        <cylinder length="0.8" radius="0.1"/>
      </geometry>
      <material name="light_gray">
        <color rgba="0.8 0.8 0.8 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0.55" rpy="0 0 0"/>
      <geometry>
        <cylinder length="0.8" radius="0.1"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="1.0"/>
      <origin xyz="0 0 0.05"/>
      <inertia ixx="0.001" ixy="0" ixz="0" iyy="0.001" iyz="0" izz="0.001"/>
    </inertial>
  </link>

  <link name="link1">
    <visual>
      <origin xyz="0 0.4 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.2 0.5 0.1"/>
      </geometry>
      <material name="light_gray">
        <color rgba="0.8 0.8 0.8 1"/>
      </material>
    </visual>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.075"/>
      </geometry>
      <material name="light_blue">
        <color rgba="0.4 0.6 1 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0.4 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.2 0.5 0.1"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.8"/>
      <origin xyz="0 0 0.05"/>
      <inertia ixx="0.001" ixy="0" ixz="0" iyy="0.001" iyz="0" izz="0.001"/>
    </inertial>
  </link>

  <link name="link2">
    <visual>
      <origin xyz="0 0.25 0.02" rpy="0 0 0"/>
      <geometry>
        <box size="0.2 0.5 0.1"/>
      </geometry>
      <material name="light_gray">
        <color rgba="0.8 0.8 0.8 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0.25 0.02" rpy="0 0 0"/>
      <geometry>
        <box size="0.2 0.5 0.1"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.5"/>
      <origin xyz="0 0 0.15"/>
      <inertia ixx="0.0005" ixy="0" ixz="0" iyy="0.0005" iyz="0" izz="0.0005"/>
    </inertial>
  </link>

  <link name="dummy_link">
    <visual>
      <origin xyz="0 0.25 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.0 0.0 0.0"/>
      </geometry>
      <material name="light_gray">
        <color rgba="0.8 0.8 0.8 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0.25 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.0 0.0 0.0"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.8"/>
      <origin xyz="0 0 0.05"/>
      <inertia ixx="0.001" ixy="0" ixz="0" iyy="0.001" iyz="0" izz="0.001"/>
    </inertial>
  </link>

  <link name="link3">
    <visual>
      <origin xyz="0 0 0.2" rpy="0 0 0"/>
      <geometry>
        <box size="0.1 0.1 0.4"/>
      </geometry>
      <material name="light_gray">
        <color rgba="0.8 0.8 0.8 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0.2" rpy="0 0 0"/>
      <geometry>
        <box size="0.1 0.1 0.4"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.5"/>
      <origin xyz="0 0 0.15"/>
      <inertia ixx="0.0005" ixy="0" ixz="0" iyy="0.0005" iyz="0" izz="0.0005"/>
    </inertial>
  </link>

  <link name="ee">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.3 0.3 0.05"/>
      </geometry>
      <material name="light_gray">
        <color rgba="0.8 0.8 0.8 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.3 0.3 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.5"/>
      <origin xyz="0 0 0.15"/>
      <inertia ixx="0.0005" ixy="0" ixz="0" iyy="0.0005" iyz="0" izz="0.0005"/>
    </inertial>
  </link>


  <joint name="joint1" type="revolute">
    <parent link="base_link"/>
    <child link="link1"/>
    <origin xyz="0 0 0.6" rpy="0 0 0.7"/>
    <axis xyz="0 0 1"/>
    <limit lower="-1.8326" upper="1.8326" effort="5" velocity="1"/>
  </joint>

  <joint name="joint2" type="revolute">
    <parent link="link1"/>
    <child link="link2"/>
    <origin xyz="0 0.4 0.1" rpy="0 0 0"/>
    <axis xyz="0 0 1"/>
    <limit lower="-2.7489" upper="2.7489" effort="5" velocity="1"/>
  </joint>

  <joint name="joint3" type="revolute">
    <parent link="link2"/>
    <child link="dummy_link"/>
    <origin xyz="0 0.45 -0.45" rpy="0 0 0"/>
    <axis xyz="0 0 1"/>
    <limit lower="-3" upper="3" effort="5" velocity="1"/>
  </joint>

    <joint name="joint4" type="prismatic">
    <parent link="dummy_link"/>
    <child link="link3"/>
    <origin xyz="0 0 0.05" rpy="0 0 0"/>
    <axis xyz="0 0 1"/>
    <limit lower="-0.1" upper="-0.05" effort="5" velocity="1"/>
  </joint>

  <joint name="joint5" type="fixed">
    <parent link="link3"/>
    <child link="ee"/>
    <origin xyz="0 0 -0.05" rpy="0 0 0"/>
    <axis xyz="0 0 1"/>
    <limit lower="-3" upper="3" effort="5" velocity="1"/>
  </joint>

</robot>

